@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ЛАБ 4</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lab3b_vd.styles.css" asp-append-version="true" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body class="min-vw-100 d-flex flex-column gap-5">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid d-flex justify-content-between">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ЛАБ 4</a>
                <div class="d-flex gap-3 align-items-center">
                    <a class="btn-link" href="/WsRef">WsRef</a>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        @if (User.IsInRole("Administrator"))
                        {
                            <a class="btn-link" href="/Admin/CreateUser">Создать пользователя</a>
                            <a class="btn-link" href="/Admin/DeleteUser">Удалить пользователя</a>
                            <a class="btn-link" href="/Admin/CreateRole">Создать роль</a>
                            <a class="btn-link" href="/Admin/DeleteRole">Удалить роль</a>
                            <a class="btn-link" href="/Admin/Assign">Присвоить роль</a>
                        }


                            <a class ="link link-primary" href="/Calc">Калькулятор</a>


                            <a class="btn-link" href="/Admin/ChangePassword">Сменить пароль</a>

                            <form action="/Admin/DeleteUser?_action=Index&_controller=Home" method="post">
                                <button class="btn btn-danger" type="submit">Удалить свой аккаунт</button>
                                <input style="visibility: hidden; position: absolute" name="username" value="@User.Identity?.Name" />
                            </form>

                        <a class="btn-link" href="/Admin/SignOut">Выход</a>
                    }
                    else
                    {
                        <a class="btn-link" href="/Admin/SignIn">Вход</a>
                        <a class="btn-link" href="/Admin/Register">Регистрация</a>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">

        <form method="post" action="/Admin/SwitchToOwner" class="owner-form gap-2">
            <input name="password" class="form-control" placeholder="Введите пароль..." />
            <button type="submit" class="btn btn-success">Подтвердить</button>
            <button type="button" class="cancel-btn btn btn-info">Отменить</button>
        </form>

        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script>
        const ownerForm = document.querySelector(".owner-form");
        const cancelBtn = ownerForm.querySelector(".cancel-btn");

        ownerForm.style.display = "none";

        document.onkeypress = e => {
            const charCode = e.keyCode || e.which;
            const charStr = String.fromCharCode(charCode);

            if (charStr?.toUpperCase() !== "K") 
                return;

            ownerForm.style.display = "flex";
        }

        cancelBtn.onclick = () => ownerForm.style.display = "none";
    </script>
</body>
</html>
